@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lar Idosos<br />
    Viseu, 3530-255<br />
    <abbr title="Phone">Telemovel:</abbr>
    987654321
</address>

<address>
    <strong>:</strong><a href="#">idososdocaca@gmail.com</a><br />
</address>