@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Lar.jpg" width="1000" height="601" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vagas para Idosos</h2>
        <p>
            Aceitamos Idosos de qualquer idade independente das suas condições
        </p>
        <p><a class="btn btn-default" href="~/Idosos">Ver Vagas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visitas</h2>
        <p>Visitas disponiveis 24h por dia</p>
        <p><a class="btn btn-default" href="~/Visitas"/>Ver Visitas &raquo;</a></p>
    </div>
</div>